body,
html {
  overflow-x: hidden;
  font-family: "Onest", sans-serif;
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Onest", sans-serif;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.green-arr-btn {
  background: #033020;
  border: 1px solid #033020;
  color: white;
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  padding: 5px 10px 5px 15px;
  font-size: 14px;
  font-weight: 600;
  .icon {
    width: 32px;
    height: 32px;
    @include flex;
    border-radius: 50%;
    background: white;
    margin-left: 10px;
    transition: 0.3s;
    svg {
      margin: auto;
      width: 15px;
      path {
        transition: 0.3s;
        fill: #033020;
      }
    }
  }
  .icon2 {
    width: 34px;
    height: 34px;
    @include flex;
    border-radius: 50%;
    background: white;
    margin-left: 10px;
    transition: 0.3s;
    svg {
      margin: auto;
      circle {
        fill: white;
        transition: 0.3s;
      }
      path {
        transition: 0.3s;
        fill: #033020;
      }
    }
  }
  &:hover {
    background: #fff;
    color: #033020;
    .icon {
      background: #033020;
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .icon2 {
      svg {
        circle {
          fill: #033020;
        }
        path {
          fill: #fff;
        }
      }
    }
  }
}

.white-arr-btn {
  background: rgba(255, 255, 255, 0.8);
  color: #033020;
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  padding: 5px 10px 5px 15px;
  font-size: 14px;
  font-weight: 600;
  .icon {
    width: 32px;
    height: 32px;
    @include flex;
    border-radius: 50%;
    background: #033020;
    margin-left: 10px;
    transition: 0.3s;
    svg {
      margin: auto;
      width: 15px;
      path {
        transition: 0.3s;
        fill: #fff;
      }
    }
  }
  &:hover {
    background: #033020;
    color: #fff;
    .icon {
      background: #fff;
      svg {
        path {
          fill: #033020;
        }
      }
    }
  }
}

.white-border-btn {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  color: white;
  border-radius: 50px;
  @include inline-flex;
  @include align-center;
  padding: 5px 10px 5px 15px;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    background: white;
    color: #033020;
    .icon {
      border-color: #033020;
    }
  }
  .icon {
    width: 32px;
    height: 32px;
    @include flex;
    border-radius: 50%;
    background: white;
    margin-left: 10px;
    transition: 0.3s;
    border: 1px solid transparent;
    svg,
    img {
      margin: auto;
      width: 15px;
      path {
        transition: 0.3s;
        fill: #033020;
      }
    }
  }
}

.border-btn {
  border: 1px solid #fff;
  background: transparent;
  @include flex;
  @include align-center;
  @include justify-center;
  height: 44px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  &:hover {
    background: white;
    color: #033020;
  }
}
.green-btn {
  border: 1px solid #033020;
  background: #033020;
  @include flex;
  @include align-center;
  @include justify-center;
  height: 44px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  &:hover {
    background: white;
    color: #033020;
  }
}

.tour-3d {
  margin: 20px 0;
  .info {
    border-radius: 20px;
    background: #d9d9d9;
    @include flex;
    height: 470px;
    @media (max-width: 767px) {
      height: 60vw;
    }
    span {
      margin: auto;
      font-size: 40px;
    }
  }
}

.slider-style {
  margin: 20px 0;
  .wrapper {
    .info {
      @include flex;
      padding: 30px;
      border-radius: 20px;
      background: #f1f1f1;
      @media (max-width: 767px) {
        @include dir-col;
        padding: 30px 20px;
      }
      .texts {
        width: 45%;
        padding-right: 40px;
        @media (max-width: 1024px) {
          padding-right: 20px;
          width: 40%;
        }
        @media (max-width: 767px) {
          width: 100%;
          padding-right: 0;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 40px;
          font-weight: 600;
          color: #033020;
          margin-bottom: 30px;
          @media (max-width: 1024px) {
            font-size: 30px;
          }
          @media (max-width: 767px) {
            font-size: 26px;
            margin-bottom: 20px;
          }
        }
        p {
          margin-bottom: 30px;
          font-size: 16px;
          color: #2f2f2f;
          max-width: 400px;
          @media (max-width: 767px) {
            margin-bottom: 20px;
          }
        }
        .buttons-style {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          @media (max-width: 1024px) {
            grid-template-columns: 1fr;
          }
          .style {
            height: 44px;
            border-radius: 50px;
            background: #033020;
            border: 1px solid #033020;
            @include flex;
            @include align-center;
            padding: 5px 10px 5px 20px;
            @include justify-between;
            @media (max-width: 1024px) {
              &:nth-child(3) {
                order: 1;
              }
            }
            span {
              font-size: 13px;
              font-weight: 600;
              color: #fff;
            }
            .icon {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background: #fff;
              @include flex;
              img {
                margin: auto;
              }
            }
            &.style2 {
              background: transparent;
              span {
                color: #033020;
              }
              .icon {
                background: #033020;
              }
            }
          }
        }
      }
      .style-slider-wrap,
      .style-slider-wrap2 {
        position: relative;
        z-index: 0;
        width: 55%;
        align-self: flex-end;

        @media (max-width: 1024px) {
          width: 60%;
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        .slider-navigation {
          position: absolute;
          bottom: 3px;
          right: -6px;
          @media (max-width: 1100px) {
            width: 90px;
          }
          @media (max-width: 1024px) {
            width: 84px;
          }
          @media (max-width: 767px) {
            width: 64px;
            right: -5px;
          }
          button {
            @media (max-width: 1100px) {
              width: 40px;
              height: 40px;
              img {
                width: 20px;
              }
            }
            @media (max-width: 767px) {
              width: 30px;
              height: 30px;
              img {
                width: 14px;
              }
            }
          }
        }
        .style-slider,
        .style-slider2 {
          .item {
            @include flex;
            min-height: 370px;
            @media (max-width: 1024px) {
              min-height: auto;
            }
            @media (max-width: 767px) {
              min-height: 200px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &.slider-style2 {
    .info {
      .texts {
        padding: 0;
        padding-left: 40px;
        @media (max-width: 1024px) {
          padding-left: 20px;
        }
        @media (max-width: 767px) {
          padding-left: 0;
          margin-top: 20px;
        }
      }
      .slider-navigation {
        position: absolute;
        bottom: 3px;
        left: -6px;
        @media (max-width: 1100px) {
          width: 90px;
        }
        @media (max-width: 1024px) {
          width: 84px;
        }
        @media (max-width: 767px) {
          width: 64px;
          left: -5px;
        }
      }
    }
  }
}
